#root{
    background-image: url(../../img/Rectangle_1.svg), url(../../img/Rectangle_2.svg), url(../../img/Rectangle_3.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left 0, bottom 0 right -100px, top 0 right 0;
    object-fit: contain;

    @media (min-width: 480px) {
        background-size: 200px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        background-size: 250px;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        background-size: 300px;
    }
    @media (min-width: 1200px){
        background-size: 350px;
    }
}